d-byline {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  contain: content;
  font-size: 0.8rem;
  line-height: 1.8em;
  padding: 1.5rem 0;
  min-height: 1.8em;
}

d-byline .byline {
  grid-template-columns: 2fr 1fr 1fr;
  grid-column: text;
}

d-byline .authors-affiliations {
  grid-template-columns: 1fr 1fr;

}

d-byline h3 {
  font-size: 0.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: uppercase;
}

d-byline p {
  margin: 0;
}

d-byline a,
d-article d-byline a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-bottom: none;
}

d-article d-byline a:hover {
  text-decoration: underline;
  border-bottom: none;
}

d-byline .authors p {
  font-weight: 600;
}
d-byline .affiliations {

}
