@supports not (display: grid) {
  d-headline,
  d-abstract,
  d-article,
  d-appendix,
  d-byline,
  d-footnote-list,
  distill-footer {
    display: block;
    padding: 8px;
  }
}

d-headline,
d-abstract,
d-article,
d-appendix,
d-byline,
d-footnote-list,
distill-footer {
  display: grid;
  justify-items: stretch;
}
/*
@media(min-width: 768px) {

  d-article,
  d-appendix,
  d-byline,
  distill-footer {
    grid-template-columns: [start] 32px [left-outset] 32px [left] 3fr [text] 32px [text-outset] 1fr [page] 32px [page-outset] 32px [end];
  }
}*/
/* @media(min-width: 768px) {
  d-headline,
  d-abstract,
  d-article,
  d-appendix,
  d-byline,
  d-footnote-list,
  distill-footer {
    grid-template-columns:  [screen-start] 0 [page-start] 1fr [text-start] 1fr 1fr 1fr 1fr [text-end] 1fr [page-end] 0 [screen-end];
    grid-column-gap: 30px;
  }
} */

@media(min-width: 1060px) {
  d-headline,
  d-abstract,
  d-article,
  d-appendix,
  d-byline,
  d-footnote-list,
  distill-footer {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 50px 50px [text-start kicker-end] 50px 50px 50px 50px 50px 50px 50px 50px [text-end gutter-start] 50px 50px [page-end gutter-end] 1fr [screen-end];
    /* grid-template-columns:  [screen-start] 1fr [page-start] 130px [text-start] 130px 130px 130px 130px [text-end] 130px [page-end] 1fr [screen-end]; */
    grid-column-gap: 30px;
  }
}


.grid {
  display: grid;
  grid-column-gap: 30px;
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}


/* .l-body,
d-article > *  {
  grid-column: text;
}

.l-page,
d-headline > *,
d-figure {
  grid-column: page;
} */

.l-body-outset {
  grid-column: left-outset / right-outset;
}

.l-page-outset {
  grid-column: left-outset / right-outset;
}

.l-screen {
  grid-column: start / end;
}

.l-screen-inset {
  grid-column: start / end;
  padding-left: 16px;
  padding-left: 16px;
}


/* Aside */

d-article aside {
  grid-column: gutter;
}

@media(min-width: 768px) {
  aside {
    grid-column: right-outset / right-page;
    font-size: 14px;
    line-height: 1.3;
  }

  .side {
    margin-left: 24px;
    float: right;
    width: 50%;
  }
}
